.history {
  position: relative;
  padding-top: 134px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, #00000000, $bg-color);
  }

  @include tablet {
    padding-top: 187px;

  }

  @include laptop {
    padding-top: 11.8vw;

    // height: calc(100svh - 20px)
  }

  .svg-layer {
    width: 100%;

    top: 0;
    z-index: -1;
    background-color: $bg-color;
    height: 80%;

    @include tablet {
      height: 50%;
    }

    @include laptop {
      height: 80%;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%
    }
  }

  .history-title {
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 6.3vw;
    }

    span {
      white-space: nowrap;
    }
  }

  .history-img {
    position: absolute;
    bottom: 0px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 816px;

    .fog {
      animation: panorama 20s linear infinite;
      height: 100%;
      width: auto;
      transform: scale(1.2);
      object-fit: cover;
      mix-blend-mode: lighten;

      @include laptop {
        height: auto;
        width: 100%;
      }
    }

    .soldiers {
      position: absolute;
      z-index: 1;
      width: auto;
      height: 80%;
      object-fit: cover;
      transform: scale(1.1);
      animation: panorama-half 20s linear infinite;
      bottom: 0;
      left: 0;

      @include laptop {
        width: 100%;
        height: auto;
      }
    }


  }

  .history-content {
    position: relative;

    z-index: 2;
    width: 100%;
    height: 80%;


  }

  .text-frame--border {
    position: relative;

    padding: 1px;
    width: 100%;

    z-index: 2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    clip-path: polygon(0% 10px, 20px 0%, calc(100px) 0%, calc(120px) 20px, calc(100% - 120px) 20px, calc(100% - 100px) 0%, calc(100% - 20px) 0%, 100% 10px, 100% calc(100% - 12px), calc(100% - 15px) calc(100% - 12px), calc(100% - 35px) 100%, 35px 100%, 15px calc(100% - 12px), 0% calc(100% - 12px));
    -webkit-clip-path: polygon(0% 10px, 20px 0%, calc(100px) 0%, calc(120px) 20px, calc(100% - 120px) 20px, calc(100% - 100px) 0%, calc(100% - 20px) 0%, 100% 10px, 100% calc(100% - 12px), calc(100% - 15px) calc(100% - 12px), calc(100% - 35px) 100%, 35px 100%, 15px calc(100% - 12px), 0% calc(100% - 12px));
    background: linear-gradient(90deg, rgba(190, 154, 104, 0.2), #00000000, rgba(190, 154, 104, 0.2) 50%);

    @include tablet {
      clip-path: polygon(0% 10px, 20px 0%, calc(30% - 80px) 0%, calc(30% - 60px) 20px, calc(70% + 60px) 20px, calc(70% + 80px) 0%, calc(100% - 20px) 0%, 100% 10px, 100% calc(100% - 12px), calc(100% - 15px) calc(100% - 12px), calc(100% - 35px) 100%, 35px 100%, 15px calc(100% - 12px), 0% calc(100% - 12px));
      -webkit-clip-path: polygon(0% 10px, 20px 0%, calc(30% - 80px) 0%, calc(30% - 60px) 20px, calc(70% + 60px) 20px, calc(70% + 80px) 0%, calc(100% - 20px) 0%, 100% 10px, 100% calc(100% - 12px), calc(100% - 15px) calc(100% - 12px), calc(100% - 35px) 100%, 35px 100%, 15px calc(100% - 12px), 0% calc(100% - 12px));
      margin-left: auto;
      margin-right: auto;
      width: 67%;
    }

    @include laptop {

      width: 38%;
    }
  }

  .text-frame {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 80px;
    clip-path: inherit;
    width: 100%;
    clip-path: inherit;
    background: #000000c7;

    @include tablet {
      padding: 80px;
    }

    @include laptop {
      padding: 60px 100px 120px;
    }

    &>p {
      @include general-text;

      margin-bottom: 12px;
      text-align: center
    }
  }

}

@keyframes panorama {
  0% {
    transform: translateX(-10%) scale(1.2);
  }

  50% {
    transform: translateX(10%) scale(1.2);
  }

  100% {
    transform: translateX(-10%) scale(1.2);
  }

}

@keyframes panorama-half {
  0% {
    transform: translateX(5%) scale(1.1);
  }

  50% {
    transform: translateX(-5%) scale(1.1);
  }

  100% {
    transform: translateX(5%) scale(1.1);
  }

}