.thank-you-popup.overlay
  .modal-form
    .svg-wrap
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
        <path d="M60.1128 29.3539C60.1938 30.2253 60.2352 31.1083 60.2352 32.0009C60.2352 47.5948 47.5939 60.2362 31.9999 60.2362C16.406 60.2362 3.76465 47.5948 3.76465 32.0009C3.76465 16.407 16.406 3.76562 31.9999 3.76562C36.4299 3.76562 40.6216 4.78582 44.3529 6.60409" stroke="#BE9A68" stroke-width="3.65714" stroke-linecap="round"/>
        <path d="M23.5303 29.1785L32.0009 37.6491L61.1773 8.47266" stroke="#BE9A68" stroke-width="3.65714" stroke-linecap="round"/>
      </svg>
    h2.thank-you-popup__title Повідомлення 
      br
      | надіслано
    p.thank-you-popup__descr Ваше повідомлення отримано. Наш представник 
      br
      | зателефонує вам найближчим часом.
    button.thank-you-popup__btn.call-us__btn
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M14.3646 1.63801L1.63665 14.3659M14.364 14.3653L1.63604 1.6374" stroke="#FFEED7" stroke-width="2"/>
      </svg>

  //- .close-popup
