
extends ../layout/main
block variable
  -
    var title_page = 'location'
    var id_page = 'id-page-location'
    var class_page = 'class-page-location'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/location.bundle.js')
block content
  section.location 
    h1(hidden) Локація Хабу
    img(src="./assets/images/map.jpg", alt="map").location-bg
    .location-frame-wrap
      .text-frame--border
        .text-frame
          h2 1 ОШП ХАБ
          p Київ, вул. Генерала Шаповала 2
          a(href="tel:+380675497349").location-phone.link--hover  
            
            span.link-face.link-face--front +38(067) 549 73 49
            span.link-face.link-face--back +38(067) 549 73 49
          a(href="https://www.instagram.com/davinci.bat/#" target="_blank").location-insta.link--hover.link-with-icon  
            span.link-face.link-face--front 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12.0039 1C14.8702 1 15.2383 1.01232 16.3779 1.06641C17.5417 1.11781 18.3564 1.30761 19.0771 1.58594C19.8359 1.87177 20.5272 2.32212 21.0986 2.90039L20.7832 3.22461L21.1055 2.90723L21.3164 3.12402C21.7984 3.65039 22.1718 4.26234 22.4258 4.93359C22.7047 5.65148 22.895 6.47106 22.9463 7.63477C22.9962 8.7707 23 9.13872 23 12.002C23 14.8685 22.9874 15.2352 22.9375 16.3701C22.8861 17.5354 22.6957 18.3509 22.417 19.0723C21.8228 20.6083 20.6078 21.8229 19.0713 22.417C18.353 22.6962 17.5329 22.8862 16.3682 22.9375C15.2333 22.9875 14.8667 23 12 23C9.13326 23 8.76668 22.9875 7.63184 22.9375C6.46705 22.8862 5.65185 22.6965 4.93066 22.418C4.17094 22.1318 3.47915 21.6809 2.90723 21.1016L3.22461 20.7803L2.90234 21.0967C2.32356 20.5254 1.87246 19.8387 1.58203 19.0713C1.30308 18.3535 1.11385 17.5338 1.0625 16.3701C1.01264 15.2352 1 14.8685 1 12.002C1 9.13666 1.01233 8.76898 1.06641 7.62988C1.11781 6.46583 1.30744 5.6506 1.58594 4.92969C1.83674 4.26461 2.21342 3.6512 2.69238 3.125L2.90137 2.9082L3.22461 3.22461L2.90723 2.90234C3.48004 2.31794 4.1683 1.87183 4.93457 1.58203C5.65232 1.30337 6.47183 1.11381 7.63574 1.0625C8.7708 1.01265 9.13706 1 12.0039 1ZM12 6.78906C9.12341 6.78906 6.78906 9.12325 6.78906 12C6.78928 14.8766 9.12354 17.21 12 17.21C14.8764 17.2097 17.2097 14.8764 17.21 12C17.21 9.12339 14.8766 6.78928 12 6.78906ZM18.3682 3.31641C17.0896 3.31654 16.0529 4.35293 16.0527 5.63184C16.0527 6.91064 17.0895 7.94811 18.3682 7.94824C19.6472 7.94824 20.6846 6.91077 20.6846 5.63184C20.6844 4.3528 19.647 3.31641 18.3682 3.31641Z" fill="#B5AA9B"/>
              </svg>
              | INSTAGRAM
            span.link-face.link-face--back
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12.0039 1C14.8702 1 15.2383 1.01232 16.3779 1.06641C17.5417 1.11781 18.3564 1.30761 19.0771 1.58594C19.8359 1.87177 20.5272 2.32212 21.0986 2.90039L20.7832 3.22461L21.1055 2.90723L21.3164 3.12402C21.7984 3.65039 22.1718 4.26234 22.4258 4.93359C22.7047 5.65148 22.895 6.47106 22.9463 7.63477C22.9962 8.7707 23 9.13872 23 12.002C23 14.8685 22.9874 15.2352 22.9375 16.3701C22.8861 17.5354 22.6957 18.3509 22.417 19.0723C21.8228 20.6083 20.6078 21.8229 19.0713 22.417C18.353 22.6962 17.5329 22.8862 16.3682 22.9375C15.2333 22.9875 14.8667 23 12 23C9.13326 23 8.76668 22.9875 7.63184 22.9375C6.46705 22.8862 5.65185 22.6965 4.93066 22.418C4.17094 22.1318 3.47915 21.6809 2.90723 21.1016L3.22461 20.7803L2.90234 21.0967C2.32356 20.5254 1.87246 19.8387 1.58203 19.0713C1.30308 18.3535 1.11385 17.5338 1.0625 16.3701C1.01264 15.2352 1 14.8685 1 12.002C1 9.13666 1.01233 8.76898 1.06641 7.62988C1.11781 6.46583 1.30744 5.6506 1.58594 4.92969C1.83674 4.26461 2.21342 3.6512 2.69238 3.125L2.90137 2.9082L3.22461 3.22461L2.90723 2.90234C3.48004 2.31794 4.1683 1.87183 4.93457 1.58203C5.65232 1.30337 6.47183 1.11381 7.63574 1.0625C8.7708 1.01265 9.13706 1 12.0039 1ZM12 6.78906C9.12341 6.78906 6.78906 9.12325 6.78906 12C6.78928 14.8766 9.12354 17.21 12 17.21C14.8764 17.2097 17.2097 14.8764 17.21 12C17.21 9.12339 14.8766 6.78928 12 6.78906ZM18.3682 3.31641C17.0896 3.31654 16.0529 4.35293 16.0527 5.63184C16.0527 6.91064 17.0895 7.94811 18.3682 7.94824C19.6472 7.94824 20.6846 6.91077 20.6846 5.63184C20.6844 4.3528 19.647 3.31641 18.3682 3.31641Z" fill="#B5AA9B"/>
              </svg>
              | INSTAGRAM
      a(href="https://maps.app.goo.gl/dBF43b711JS9zNUS8" target="_blank").general-btn
        span Google maps 
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
