
extends ../layout/main
block variable
  -
    var title_page = 'vacancies'
    var id_page = 'id-page-vacancies'
    var class_page = 'class-page-vacancies'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/vacancies.bundle.js')
block content
  section.vacancies
    .svg-layer 
      <svg  viewBox="0 0 1920 1204" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0 161.5V21V0H70H727H1192H1850H1920V21V161.5L1725 356.5V1179H1425L1125 886H795L495 1179H195V356.5L0 161.5Z" fill="url(#paint0_linear_1642_13896)"/>
        <path d="M1125 589L1260 454V403L1355 337V0H1260H1192H727H660H565V337L660 403V454L795 589V1204H1125V589Z" fill="black" fill-opacity="0.2"/>
        <path d="M660.5 402.738L660.285 402.59L565.5 336.738V0.5H1354.5V336.738L1259.71 402.59L1259.5 402.738V453.793L1124.5 588.793V1203.5H795.5V588.793L660.5 453.793V402.738Z" stroke="url(#paint1_linear_1642_13896)" stroke-opacity="0.4"/>
        <defs>
          <linearGradient id="paint0_linear_1642_13896" x1="960" y1="-64.0354" x2="960" y2="937.501" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1A1818"/>
            <stop offset="1" stop-color="#111111"/>
          </linearGradient>
          <linearGradient id="paint1_linear_1642_13896" x1="960" y1="-863.479" x2="960" y2="835.459" gradientUnits="userSpaceOnUse">
            <stop offset="0.442308" stop-opacity="0"/>
            <stop offset="0.528846" stop-color="#BE9A68" stop-opacity="0.4"/>
            <stop offset="1" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>
    .vacancies-img 
      img(src="./assets/images/vacancies.png", alt="fog").soldiers
      
    .vacancies-content.container
      h1.section-title.vacancies-title Вакансії
      p.vacancies-descr 1-й  Окремий штурмовий полк 
        span потребує фахівців різних напрямків, 
        | знайди свій.
  section.vacancies-cards.container 
    .section-top-decor
    ul.vacancies-list 
      li.vacancies-card 
        .text-frame--border
          .text-frame
            p.vacancies-card__number 01
            .vacancies-card__text-wrap
              .vacancies-card__text 
                h3 Водій мінометного взводу
                button(type="button" data-specialty__btn data-specialty-id="1").vacancies-card__descr.link--hover  
                  span.link-face.link-face--front Опис вакансії
                  span.link-face.link-face--back Опис вакансії
              button.general-btn(type="button" data-call-us-btn data-specialty-id="1") 
                span Долучитися

      li.vacancies-card 
        .text-frame--border
          .text-frame
            p.vacancies-card__number 02
            .vacancies-card__text-wrap
              .vacancies-card__text 
                h3 Діловод служби логістики
                button(type="button" data-specialty__btn data-specialty-id="2").vacancies-card__descr.link--hover  
                  span.link-face.link-face--front Опис вакансії
                  span.link-face.link-face--back Опис вакансії
              button.general-btn(type="button" data-call-us-btn data-specialty-id="2") 
                span Долучитися

      li.vacancies-card 
        .text-frame--border
          .text-frame
            p.vacancies-card__number 03
            .vacancies-card__text-wrap
              .vacancies-card__text 
                h3 Діловод групи персоналу штабу
                button(type="button" data-specialty__btn data-specialty-id="3").vacancies-card__descr.link--hover  
                  span.link-face.link-face--front Опис вакансії
                  span.link-face.link-face--back Опис вакансії
              button.general-btn(type="button" data-call-us-btn data-specialty-id="3") 
                span Долучитися

      li.vacancies-card 
        .text-frame--border
          .text-frame
            p.vacancies-card__number 04
            .vacancies-card__text-wrap
              .vacancies-card__text 
                h3 Діловод підрозділу
                button(type="button" data-specialty__btn data-specialty-id="4").vacancies-card__descr.link--hover  
                  span.link-face.link-face--front Опис вакансії
                  span.link-face.link-face--back Опис вакансії
              button.general-btn(type="button" data-call-us-btn data-specialty-id="4") 
                span Долучитися

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
